<!DOCTYPE html>
<html lang="de">

<head></head>

<body>
	<noscript>
		<div>
			<h1>Javascript</h1>
			<p>Bitte aktivieren Sie Javascript um diese Webseite zu verwenden.</p>
		</div>
	</noscript>
	<div id="root"></div>
</body>

</html>