<!DOCTYPE html>
<html lang="de">

<head></head>

<body>
	<noscript>
		<div style="color:#fff;background-color:#2c3e50;">
			<h1>Javascript</h1>
			<p>Bitte aktivieren Sie Javascript um diese Webseite zu verwenden.</p>
			<p>Bei Fragen können Sie uns telefonisch unter der Nummer
				<a href="tel:+41628340540">
					062 834 05 40
				</a> oder per
				<a href="mailto:info@feuerschutz.ch">
					E-Mail (info@feuerschutz.ch)
				</a> erreichen.</p>
			</p>
		</div>
	</noscript>
	<div id="root"></div>
</body>

</html>